@media screen and (max-width: 575px) {
  body {
    width: 100%;
    font-size: 5px;
  }

  header {
    height: 7vh;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease-in-out;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }

  .button {
    font-size: 20px;
  }

  #first_page{
    align-items: center;
  }

  #first_page h1{
    font-size: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #first_page h2{
    font-size: 20px;
  }

  .scroll-down-text {
    font-size: 20px;
  }

  .scroll-down-container{
    right: 20px;
    
  }

  #second_page_overlay h3 {
    font-size: 3.5em;
  }


  #third_page_heading {
    font-size: 50px;
    padding-left: 5vh;
    margin-bottom: 30px;
  }


  .actors_gallery_content{
    margin-top: 100px;
  }


  .img img{
    width: 200px !important;
    height: 200px !important;
  }

  .actors_cards h2{
    font-size: 35px;
  }

  #fourth_page_heading {
    font-size: 50px;
    padding-left: 5vh;
    margin-bottom: 30px;
  }


  #call-form {
    width: 250px;
    height: 240px;
    font-size: 22px;
  }

  #call-form-2 {
    width: 250px;
    height: 240px;
    font-size: 22px;
  }

  .theater{
    height: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows{
    width: 100%;
    height: 530px;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }

  .modal-parent{
    height: 99%;
  }

  .modal-wrapper{
    height: 99%;
  }

  .modal{
    width: 85%;
    height: 99%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
  }

  .modal_info{
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text{
    font-size: 14px;
  }

  h2.modal__title{
    font-size: 25px;
  }

  .modal_gallery_all{
    height: 150px;
    margin-top: 30px;
    width: 90%;
    height: 90%;
  }

  .buy_ticket{
    font-size: 13px;
  }

  .actor_card_image img{
    width: 250px;
    height: 250px;
    max-height: 250px;
  }

  #fifth_page {
    height: 165vh;
    min-height: 1130px;
  }

  .fifth_page_heading {
    font-size: 50px;
    padding-left: 5vh;
    margin-bottom: 30px;
  }


  .afisha-day.afisha_text{
    height: auto;
    font-size: 25px;
  }

  .afisha_text{
    font-size: 17px;
  }

  .afisha_ticket{
    font-size: 15px;
    border: 1px solid #6c879d;
  }

  .afisha-info{
    text-align: center;
  }

  .afisha-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .afisha_description{
    width: 250px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #6c879d;
    margin-bottom: 20px;
  }

  .afisha-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .afisha-event{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 200px;
    border-bottom: 1.5px solid #6c879d;
    padding: 10px 20px 40px 20px;
    margin-top: 30px;
  }


  #sixth_page_text {
    font-size: 3em;
    width: 70%;
  }


  #seventh_page {
    height: 100vh;
    min-height: 100vh;
  }

  #seventh_page_heading {
    padding-left: 5vh;
    font-size: 67.5px;
  }


  #eighth_page_heading {
    font-size: 50px;
    padding-left: 5vh;
    margin-bottom: 50px;
  }


  #nineth_page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nineth_page_heading {
    display: inline-block;
    font-size: 50px;
  }

  #nineth_page_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding-right: 0px;
  }

  #contacts {
    font-size: 17px;
  }

  .fa-brands{
    font-size: 45px;
  }

  .fourth_page_images{
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .scroll-down-text{
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }


  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease-in-out;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }


  #h1 h1 {
    font-size: 65px;
  }

  #h2andh3 {
    height: 45%;
  }

  #h2 h2 {
    font-size: 25px;
  }

  #second_page_overlay h3 {
    font-size: 20px;
  }

  #h3 h3 {
    font-size: 15px;
  }


  #third_page_heading {
    font-size: 70px;
    padding-left: 5vh;
    margin-bottom: 40px;
  }

  #fourth_page_heading {
    font-size: 70px;
    padding-left: 5vh;
    margin-bottom: 40px;
  }

  #fifth_page{
    height: 145vh;
    min-height: 990px;
  }


  #call-form {
    width: 200px;
    height: 330px;
    font-size: 20px;
  }

  #call-form-2 {
    width: 200px;
    height: 330px;
    font-size: 20px;
  }

  .theater{
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows{
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent{
    height: 99%;
  }

  .modal-wrapper{
    height: 99%;
  }

  .modal{
    width: 85%;
    height: 99%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
  }

  .modal_info{
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text{
    font-size: 15px;
  }

  h2.modal__title{
    font-size: 28px;
  }

  .modal_gallery_all{
    margin-top: 30px;
    width: 90%;
    height: 90%;
  }

  .buy_ticket{
    font-size: 13px;
  }

  #third_slider.swiper-slide{
    width: 300px;
    height: 300px;
  }

  .actor_card_image img{
    width: 250px;
    height: 250px;
  }



  .fifth_page_heading {
    font-size: 70px;
    padding-left: 5vh;
    margin-bottom: 10px;
  }

  .afisha-day.afisha_text{
    height: auto;
    font-size: 25px;
  }

  .afisha_text{
    font-size: 20px;
  }

  .afisha_ticket{
    font-size: 15px;
    border: 1px solid #6c879d;
  }

  .afisha-info{
    text-align: center;
  }

  .afisha-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .afisha_description{
    width: 450px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #6c879d;
    margin-bottom: 20px;
  }

  .afisha-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .afisha-event{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 160px;
    border-bottom: 1.5px solid #6c879d;
    padding: 10px 20px 40px 20px;
    margin-top: 30px;
  }


  #sixth_page_text {
    font-size: 20px;
    width: 65%;
  }


  #seventh_page {
    height: 100vh;
    min-height: 100vh;
  }


  #seventh_page_heading {
    font-size: 55px;
    padding-left: 5vh;
  }


  #eighth_page_heading {
    font-size: 70px;
    padding-left: 5vh;
  }


  #nineth_page {
    align-items: center;
  }

  #nineth_page_content {
    margin-right: 0px;
    padding-right: 0px;
  }

  #nineth_page_heading {
    font-size: 70px;
  }

  #contacts {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .button {
    font-size: 15px;
  }

  #h1 h1 {
    font-size: 80px;
  }

  #h2 h2 {
    font-size: 35px;
  }

  #h3 h3 {
    font-size: 25px;
  }

  #h2andh3 {
    height: 44%;
  }


  #second_page_overlay h3 {
    font-size: 25px;
  }


  #third_page_heading {
    font-size: 90px;
  }


  #fourth_page{
    height: 730px;
    min-height: 730px;
  }

  #fourth_page_heading{
    font-size: 90px;
  }

  #call-form {
    width: 275px;
    height: 400px;
  }

  #call-form-2 {
    width: 275px;
    height: 400px;
  }

  .theater{
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows{
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent{
    height: 99%;
  }

  .modal-wrapper{
    height: 99%;
  }

  .modal{
    height: 99%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
  }

  .modal_info{
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text{
    font-size: 20px;
  }

  .modal_gallery_all{
    margin-top: 30px;
    width: 500px;
    height: 500px;
  }

  #fifth_page{
  height: 730px;
  min-height: 730px;
  }

  .fifth_page_heading{
    font-size: 90px;
    padding-left: 10vh;
  }

  #sixth_page_text {
    width: 70%;
    font-size: 20px;
  }


  #seventh_page {
    height: 730px;
    min-height: 730px;
  }

  #seventh_page_heading {
    font-size: 70px;
    padding-left: 5vh;
  }


  #eighth_page{
    height: 730px;
    min-height: 730px;
  }

  #eighth_page_heading{
    font-size: 90px;
  }


  #nineth_page {
    height: 730px;
    min-height: 730px;
    justify-content: end;
    align-items: center;
  }

  #nineth_page_heading {
    font-size: 90px;
  }

  #nineth_page_content{
    padding-right: 0px;
  }

  #contacts {
    font-size: 25px;
  }


}

@media screen and (min-width: 992px) and (max-width: 1119px) {
  #h1 h1 {
    font-size: 100px;
  }

  #h2 h2 {
    font-size: 50px;
  }

  #h2andh3 {
    height: 45%;
  }

  #fifth_page_heading {
    font-size: 100px;
    padding-left: 5vh;
  }


  #seventh_page {
    height: 100vh;
    min-height: 100vh;
  }

  #call-form {
    width: 275px;
    height: 400px;
  }

  #call-form-2 {
    width: 275px;
    height: 400px;
  }

  .theater{
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows{
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent{
    height: 99%;
  }

  .modal-wrapper{
    height: 99%;
  }

  .modal{
    height: 99%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
  }

  .modal_info{
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text{
    font-size: 20px;
  }

  .modal_gallery_all{
    margin-top: 30px;
    width: 500px;
    height: 500px;
  }


  #eighth_page{
    height: 100vh;
    min-height: 730px;    
  }       
}

@media screen and (min-width: 1120px) and (max-width: 1215px){
  #h1 h1 {
    font-size: 120px;
  }

  .fourth_page_images{
    width: 330px;
    height: 330px;
  }

    #call-form {
    width: 275px;
    height: 400px;
  }

  #call-form-2 {
    width: 275px;
    height: 400px;
  }

  .theater{
    height: 428px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our_shows{
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .modal-parent{
    height: 99%;
  }

  .modal-wrapper{
    height: 99%;
  }

  .modal{
    height: 99%;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: 0px;
  }

  .modal_info{
    width: 90%;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  p.modal_text{
    font-size: 20px;
  }

  .modal_gallery_all{
    margin-top: 30px;
    width: 500px;
    height: 500px;
  }
  
}